<form #editorForm="ngForm" [formGroup]="editorFormGroup"
      (submit)="save()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name"
               required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Min number of days</mat-label>
        <input matInput
               formControlName="minNumberOfDays"
               required
               type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Max number of days</mat-label>
        <input matInput
               formControlName="maxNumberOfDays"
               required
               type="number">
    </mat-form-field>
    <button type="submit"
            mat-button
            [disabled]="!editorForm.form.valid"
            class="btn btn-primary"
            color="primary">
        Save
    </button>
</form>
