@import "../../../styles";

.card {
    margin-top: 17px;
    margin-bottom: 17px;
    display: grid;
    grid-template-columns: 1fr 0fr;
}

.img {
    border-radius: 500px;
}

.label {
    font-variant-caps: all-small-caps;
    color: grey;
    margin-right: 5px;
}

.col-text {
    flex: 2 1 auto;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.col-img img {
    max-width: 100%;
    min-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

.mat-mdc-card-content {
    height: 100%;
}

.mat-mdc-card-footer {
    padding: 16px;
}
