.menu-bar {
    .group {
        padding-right: 10px;
        height: 100%;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        margin-right: 10px;
        cursor: pointer;
    }

    ::ng-deep .mat-mdc-select-value, ::ng-deep .mat-mdc-select-arrow {
        color: white;
    }

    ::ng-deep .mdc-notched-outline__leading, ::ng-deep .mdc-notched-outline__trailing {
        border: 0;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
        margin-top: 20px;
    }

    mat-icon {
        display: inline-block;
        cursor: pointer;
    }

    mat-select {
        font-size: 12pt;
        max-height: 30px;
        overflow: hidden;
    }
}
