<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="shouldShowNavigation && !(isHandset$ | async)">
    <mat-toolbar color="primary" [class.hidden]="!shouldShowNavigation">
      @if (isHandset$ | async) {
        <span>Menu</span>
      }
      @if (!(isHandset$ | async)) {
        <span>Portal</span>
      }
    </mat-toolbar>
    @if (shouldShowNavigation) {
      <app-menu></app-menu>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.hidden]="!shouldShowNavigation">
      <!-- left -->
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      @if (isHandset$ | async) {
        <span>Portal</span>
      }

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <app-offline-indicator></app-offline-indicator>
      <router-outlet name="menuBar"></router-outlet>

      <!-- right -->
      <app-logout></app-logout>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
