/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@import 'material-design-icons/iconfont/material-icons.css';
@import "roboto-fontface/css/roboto/roboto-fontface.css";
@import "typeface-indie-flower/index.css";
@include mat.core();

$portal-primary: mat.m2-define-palette(mat.$m2-teal-palette);
$portal-accent: mat.m2-define-palette(mat.$m2-pink-palette, 500, 900, A100);
$portal-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

/* This is the new way of defining a theme from Angular 15 */
$portal-theme: mat.m2-define-light-theme((
    color: (
        primary: $portal-primary,
        accent: $portal-accent,
        warn: $portal-warn,
    )));

html {
    @include mat.all-component-themes($portal-theme);
}
