.card-image {
    display: block;
    background-size: cover;
    width: 80px;
    height: 80px;
    background-position: center center;
}

mat-dialog-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0fr;
}

mat-dialog-actions {
    .fill-space {
        flex: 1 1 auto;
    }
}

input[type=file] {
    display: none;
}
