.health-sporty-spice {

    display: flex;
    max-width: 600px;
    margin: 0 auto;

    img {
        max-height: 300px;
        max-width: 300px;

        margin: 50px 0 50px 0;
        display: flex;
        flex-grow: 1;
    }

    app-health-balloon {
        width: 100%;
    }

}

@media all and (max-width: 1200px) {
    .health-sporty-spice {
        display: block;
    }
    .health-sporty-spice img {
        margin: 10px auto;
    }
}
